html {
    scroll-behavior: smooth;
}

body {
    color: $color;
    background: $bg_color url(#{$img}/pattern-big.png)  repeat-y top center;
    font: 500 #{$font-size}/#{1.5} $font-family;
    padding: 0;
    scroll-behavior: smooth;
    @include tablet {
        font-size: $font-size;
    }
    @include desktop-large {
        background-size: 100% auto;
    }
}

a {
    color: $cBright;
    text-decoration: none;
    transition: .2s $easing color;

    &:hover,
    &.hover {
        color: #192AC2;
        outline: none;
    }
    &:active,
    &.active {
        outline: none;
    }

    &[href^='tel'] {
        white-space: nowrap;
    }
}

p {
    margin: 0 0 18px;
}

img {
    max-width: 100%;
}

button,
input,
textarea {
    &:focus {
        outline: none;
    }
}

table {
    border-collapse: collapse;
    min-width: 100%;
}

ol,
ul {
    padding: 0 0 0 26px;
    margin: 0 0 18px;
    @include desktop {
        padding-left: 30px;
    }
}

a[name] {
    position: relative;
    top: -100px;
}

a[href^='mailto:'] {
    background: url(#{$img}/email.svg) no-repeat left center;
    padding: 0 0 0 34px;
}


.bright {
    color: $cBright;
}

.gradiented-text {
    @include gradiented-text($cBright, $cPurple);
    font-weight: 600;
}

main {
    padding-top: 82px;
    @include tablet {
        padding-top: 146px;
    }
}

blockquote {
    padding: $indent;
    font-size: 18px;
    font-weight: 600;
    background: url(#{$img}/quotes.svg) no-repeat right top -5px;
    border-radius: 15px;
    box-shadow: 0 0 1px 1px #E4E8F0 inset;
    margin: 0 0 $indent;
    @include tablet {
        padding: 30px;
        margin: 0 0 30px;
    }
}
