.accordion {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &_item {
        border-radius: 15px;
        background: linear-gradient(180deg, rgba(247, 249, 252, .74) 0%, transparent 100%),
                    linear-gradient(0deg, rgba(31, 53, 240, 0.15) 0%, rgba(31, 53, 240, 0.15) 100%),
                    $cWhite;
        padding: 10px 32px 8px $indent;
        position: relative;
        @include tablet {
            padding: 14px 60px 14px 30px;
        }

        &::after {
            content: '+';
            font-size: 22px;
            font-weight: 600;
            position: absolute;
            right: 13px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
            @include tablet {
                right: 30px;
            }
        }

        &.active::after {
            content: '-';
        }
    }
    
    &_button {
        @include button-reset;
        font-size: 18px;
        font-weight: 600;
        color: $color;
        width: 100%;
        text-align: left;
        pointer-events: none;
        @include tablet {
            font-size: 22px;
        }

        .accordion_item:hover &,
        &:active {
            color: $color;
        }
    }

    &_content {
        display: none;
        margin-top: 8px;
        pointer-events: none;
        @include tablet {
            margin-top: 20px;
        }

        .accordion_item.active & {
            display: block;
        }

        p:last-child {
            margin: 0;
        }
    }
}
