.blinks {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    transition: transform 1s $easingSmooth;

    &__up {
        transform: translateY(-30%);
    }

    &__down {
       transform: translateY(-30%);
    }

    &_orange,
    &_teal {
        position: fixed;
        top: 40%;
        width: 100px;
        height: 100px;
        filter: blur(40px);
        @include tablet {
            width: 400px;
            height: 400px;
            filter: blur(140px);
        }
    }

    &_orange {
        animation: floating 10s linear infinite;
        // background-color: $cOrangeLight;
        background-color: #FADBC4;
        left: 25%;
    } 

    &_teal {
        animation: floating 10s linear 1s infinite reverse;
        background-color: #C6EFF2;
        // background-color: #8bd4da;
        left: 60%;
        top: 30%;
    }
}

@keyframes floating {
    0% {
        transform: translateY(0) scale(1);
    }
    10% {
        transform: translateY(-12%) scale(1.2, 1.3);
    }
    20% {
        transform: translateY(-23%) scale(1, .8);
    }
    30% {
        transform: translateY(-7%) scale(1.1, 1.1);
    }
    40% {
        transform: translateY(1%) scale(1.3, 1.2);
    }
    50% {
        transform: translateY(6%) scale(1.5, 1.3);
    }
    60% {
        transform: translateY(13%) scale(1, 1);
    }
    70% {
        transform: translateY(16%) scale(.8, 0.8);
    }
    80% {
        transform: translateY(9%) scale(1.5, 1.3);
    }
    90% {
        transform: translateY(4%) scale(1.3, 1.1);
    }
    100% {
        transform: translateY(0) scale(1);
    }
}
