.footer {
    padding: 20px 0 25px;
    position: relative;
    color: $bg_color;
    color: #535479;
    @include desktop {
        padding: 50px 0;
    }


    &_holder {
        @include layout;
        border-top: 1px solid #E4E8F0;
        padding-top: $indent;
        padding-bottom: $indent;
        @include tablet {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &_top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $indent;
        margin-bottom: $indent;
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 30px;
        }
    }

    &_contacts {
        display: flex;
        flex-wrap: wrap;
        gap: $indent;
        justify-content: space-between;
        font-size: 14px;
    }

    &_contacts-title {
        font-weight: 600;
        margin-bottom: 8px;
        @include tablet {
            margin-bottom: 10px;
        }
    }

    &_contacts-item {
        width: calc(50% - 8px);
    }

    &_contacts-links {
        width: 100%;
    }

    &_contacts-link {
        font-weight: 600;
    }

    &_bottom {
        display: flex;
        flex-direction: column;
        @include desktop {
            flex-direction: row;
            align-items: end;
            justify-content: space-between;
        }
    }
   
    &_copyrights {
        order: 2;
        font-size: 12px;
        line-height: 1.4;
        margin-right: 20px;
        @include desktop {
            order: initial;
            font-size: vw(16);
        }
    }

    &_menu {
        display: flex;
        flex-direction: column;
        gap: $indent;
        padding: 0;
        margin: 0 0 6px;
        list-style: none;
        @include tablet {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            padding: 40px 0 60px;
            border-top: 1px solid #E4E8F0;
            gap: 26px;
            margin: 0;
        }
        @include desktop {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &_menu-item-title {
        color: $color;
        line-height: 1;
        font-weight: 600;
        padding: $indent 32px $indent $indent;
        margin: 0;
        background: $cWhite;
        border-radius: 10px;
        display: block;
        position: relative;
        @include tablet {
            padding: 0;
            margin: 0 0 10px;
            background-color: transparent;
            border-radius: 0;
            font-size: 22px;
            line-height: 1.5;
        }

        &::after {
            content: '';
            background: url(#{$img}/menu-arrow.svg) no-repeat center / 100%;
            height: $indent;
            width: $indent;
            position: absolute;
            right: $indent;
            top: 50%;
            margin-top: calc(-1 * $indent / 2);
            transform-origin: center;
            transition: .2s $easing transform;
            @include desktop {
                content: none;
            }
        }

        &.opened:after {
            transform: rotate(180deg);
        }
    }

    &_menu-links {
        list-style: none;
        margin: 0 0 0 $indent;
        padding: $indent 0 0;
        display: none;
        @include tablet {
            padding: 0;
            display: block;
        }

        .active + & {
            display: block;
        }
    }


    &_menu-link {
        font-weight: 600;
        line-height: 1.5;
        color: $color;
        @include tablet {
            color: #535479;
            font-weight: 400;
        }

        &::before {
            content: '- ';
        }
    }
    
}
