.footer {
    padding: 20px 0 25px;
    position: relative;
    color: $bg_color;
    @include desktop {
        padding: 50px 0;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: $cBlue url(#{$img}/pattern-big.png) repeat-y center center;
        border-radius: 16px 16px 0 0;
        z-index: -1;
        @include desktop {
            border-radius: 30px 30px 0 0;
        }
    }
    .blue-page &::before {
        background-color: $cBright;
    }

    &_holder {
        @include layout;
    }

    &_top {
        position: relative;
        @include desktop {
            display: flex;
            justify-content: space-between;
            margin-bottom: 110px;
        }
    }
    &_bottom {
        display: flex;
        flex-direction: column;
        @include desktop {
            flex-direction: row;
            align-items: end;
            justify-content: space-between;
        }
    }
    &_left {
        @include desktop {
            max-width: 420px;
            margin-right: 30px;
        }
    }
    &_right {
        @include desktop {
            display: flex;
            flex-direction: row;
            align-items: stretch;
            justify-content: space-between;
        }
    }
    &_column {
        font-size: 16px;
        line-height: 25px;
        margin: 0 0 50px;
        position: relative;
        @include desktop {
            font-size: 1.44vw;
            margin: 0;
        }

        &:nth-child(2) {
            @include desktop {
                margin-left: 83px;
            }
        }
    }
    &_column-title {
        font-size: 24px;
        font-weight: 500;
        line-height: 1.2;
        display: block;
        margin-bottom: 24px;
    }
    &_copyrights {
        order: 2;
        font-size: 12px;
        line-height: 1.4;
        margin-right: 20px;
        @include desktop {
            order: initial;
            font-size: vw(16);
        }
    }
    &_copyrights-link {
        color: $bg_color;
        text-decoration: underline;
    }
    &_copyrights-text {
        display: block;
        @include desktop {
            display: inline;
        }

        &::before {
            content: '';
            @include desktop {
                content: ' - ';
            }
        }
    }
    &_menu {
        order: 1;
        @include desktop {
            display: flex;
            width: 50%;
            justify-content: space-between;
            order: initial;
        }
    }
    &_link {
        max-width: 200px;
        color: $cBlueLight;
        font-size: 12px;
        line-height: 1.33;
        margin: 0 0 16px;
        display: block;
        @include desktop {
            flex-grow: 0;
            max-width: none;
            font-size: vw(16);
            margin: 0;
            flex-grow: 0;
            padding-left: 10%;
        }

        &:hover {
            color: $cBright;
        }
    }
    &_text {
        font-size: 16px;
        line-height: 1.4;
        @include desktop {
            font-size: vw(16);
        }

        a,
        span {
            display: block;
            white-space: nowrap;
            color: $bg_color;
        }
    }
    &_form {
        position: relative;
        padding-bottom: 3px;
        border-bottom: 1px solid $bg_color;

        &.hidden {
            display: none;
        }
    }
    &_form-input[type] {
        @include placeholder-color(rgba($cYellow, .8));
        border-radius: 0;
        border: none;
        border-bottom: 1px solid $bg_color;
        background-color: transparent;
        padding: 0 40px 0 0;
        height: 40px;
        line-height: 40px;
        @include desktop {
            height: 54px;
            line-height: 54px;
        }

        &:focus {
            border-color: $color;
            color: $bg_color;
        } 
    }
    &_form-button[type] {
        @include button-reset;
        background: url(#{$img}/arrow-button.svg) no-repeat center / cover;
        position: absolute;
        height: 32px;
        width: 32px;
        top: 2px;
        right: 0;
        transform: scale(1);
        transition: .2s $easing transform;
        @include desktop {
            top: 9px;
        }

        &:hover {
            transform: scale(1.1);
        }
        &:active {
            transform: scale(0.9);
        }
    }
    &_form-accept {
        color: $bg_color;
        margin: $indent 0;

        label[for] {
            color: $bg_color;
            font-size: 12px !important;
            @include desktop {
                font-size: 16px !important;
            }
        }
    }
    &_form-success {
        display: none;
        font-size: 12px;
        line-height: 1.4;
        padding: 0 0 0 33px;
        background: url(#{$img}/success-check.svg) no-repeat top left;
        @include desktop {
            font-size: 16px;
        }

        &.active,
        &.shown,
        .success & {
            display: block;
        }
    }
    &_cards {
        position: absolute;
        right: 0;
        top: calc(100% + 50px);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include desktop {
            flex-direction: row;
            align-items: center;
            justify-content: end;
            top: auto;
            bottom: 0;
        }
    }
    &_card {
        display: block;
        margin: 0 0 8px;
        @include desktop {
            margin: 0 0 0 vw(30);
        }
    }

    a {
        color: $cBlueLight;

        &:hover {
            color: $cBright;
        }
    }
}
