.footer {
    padding: $indent 0 0;
    position: relative;
    color: $bg_color;
    color: #535479;

    &_holder {
        @include layout;
        border-top: 1px solid #E4E8F0;
        padding-top: $indent;
        padding-bottom: $indent;
        @include tablet {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &_top {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $indent;
        margin-bottom: $indent;
        @include desktop {
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 30px;
        }
    }

    &_middle {
        @include tablet {
            display: flex;
            align-items: flex-start;
            padding: 30px 0;
        }
    }

    &_contacts {
        display: flex;
        flex-wrap: wrap;
        gap: $indent;
        justify-content: space-between;
        font-size: 14px;
        margin: 0 0 $indent;
        @include tablet {
            flex-direction: column;
            gap: 30px;
            width: 33%;
            margin: 0;
        }
        @include desktop {
            width: 20%;
        }
    }

    &_contacts-title {
        display: block;
        font-weight: 600;
        margin-bottom: 8px;
        @include tablet {
            margin-bottom: 10px;
            color: $color;
            line-height: 1.5;
            font-size: $font-size;
            font-weight: 600;
        }
    }

    &_contacts-item {
        width: calc(50% - 8px);
        @include tablet {
            line-height: 1.7;
            min-height: 106px;
            width: calc(100% - 26px);
        }
    }

    &_contacts-links {
        width: 100%;
        @include tablet {
            width: calc(100% - 38px);
        }
    }

    &_contacts-link {
        font-weight: 600;
        margin: 0 4px 0 0;
    }

    &_bottom {
        display: flex;
        flex-direction: column;
        @include desktop {
            flex-direction: row;
            align-items: end;
            justify-content: space-between;
        }
    }
   
    &_copyrights {
        order: 2;
        font-size: 12px;
        line-height: 1.4;
        margin-right: 20px;
        @include desktop {
            order: initial;
            font-size: vw(16);
        }
    }

    &_menu {
        display: flex;
        flex-direction: column;
        gap: $indent;
        padding: 0;
        margin: 0 0 $indent;
        list-style: none;
        @include tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 30px 26px;
            margin: 0;
        }
        @include desktop {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &_menu-item {
        @include tablet {
            min-height: 106px;
        }
    }

    &_menu-item-title {
        color: $color;
        line-height: 1;
        font-weight: 600;
        padding: $indent 32px $indent $indent;
        margin: 0;
        background: $cWhite;
        border-radius: 10px;
        display: block;
        position: relative;
        margin: 0 53px 0 0;
        @include tablet {
            padding: 0;
            margin: 0 0 10px;
            background-color: transparent !important;
            border-radius: 0;
            line-height: 1.5;
        }

        &.opened:after {
            transform: rotate(180deg);
        }

        & + & {
            margin-top: $indent;
        }

        .page-green & {
            background-color: $cPageGreenLight;
        }

        .page-blue & {
            background-color: $cPageBlueLight;
        }

        .page-orange & {
            background-color: $cPageOrangeLight;
        }
    }

    &_menu-item-arrow {
        background: $cWhite url(#{$img}/plus-dark.svg) center no-repeat;
        border-radius: 10px;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -53px;
    
        @include tablet {
            display: none;
        }
    
        .opened & {
            background-image: url(#{$img}/minus-dark.svg);
        }
    }

    &_menu-links {
        list-style: none;
        margin: 0 0 0 $indent;
        padding: $indent 0 0;
        display: none;
        @include tablet {
            padding: 0;
            display: block;
            margin: 0;
        }

        .opened + & {
            display: block;
        }
    }


    &_menu-link {
        font-weight: 600;
        line-height: 1.5;
        color: $color;
        @include tablet {
            color: #535479;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.7;
        }
    }
    
    &_bottom-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 0 $indent;
        @include tablet {
            flex-wrap: nowrap;
            gap: 40px;
            margin: 0;
        }
    }

    &_bottom-link {
        font-size: 14px;
        color: $color;
        opacity: .3;
        width: 50%;
        transition: .2s $easingSmooth opacity,
                    .2s $easingSmooth color;
        @include tablet {
            width: auto;
        }

        &:hover {
            color: $cBright;
            opacity: 1;
        }
    }

    &_copyrights {
        font-size: 14px;
        color: $color;
        opacity: .3;
        margin: 0;
    }
}
