.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    padding: 16px 0;
    min-height: 76px;
    backdrop-filter: blur(10px);
    z-index: 11;
    @include desktop {
        padding: 13px 0;
    }
    
    &_holder {
        @include layout;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        @include tablet {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

    &_content {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &_button {
        position: relative;
        z-index: 11;
    }
 }
