%heading-1 {
    font-size: 32px;
    font-family: $font-family;
    line-height: 1.3;
    font-weight: 600;
    margin: 0 0 $indent;
    @include tablet {
        font-size: 48px;
        margin-bottom: 30px;
    }
}

%heading-2 {
    font-size: 24px;
    font-family: $font-family;
    line-height: 1.2;
    font-weight: 600;
    margin: 32px 0 18px;
    @include tablet {
        margin-top: 40px;
        font-size: 32px;
    }
}

%heading-3 {
    font-size: 16px;
    font-family: $font-family;
    line-height: 1.3;
    font-weight: 600;
    margin: 16px 0 0;
    @include tablet {
        font-size: 22px;
        margin-top: 24px;
    }
}

%heading-4 {
    font-size: 20px;
    font-family: $font-family;
    line-height: 1.25;
    font-weight: 500;
    @include tablet {
        font-size: 24px;
    }
}

%heading-5 {
    font-size: 16px;
    line-height: 1.2;
    font-family: $font-family;
    font-weight: 400;
    @include desktop {
        font-size: vw(32);
    }
}

%heading-6 {
    font-size: 12px;
    font-family: $font-family;
    line-height: 1.4;
    font-weight: 400;
    @include desktop {
        font-size: vw(24);
    }
}

h1,
.heading-1 {
    @extend %heading-1;
}

h2,
.heading-2 {
    @extend %heading-2;
}

h3,
.heading-3 {
    @extend %heading-3;
}

h4,
.heading-4 {
    @extend %heading-4;
}

h5,
.heading-5 {
    @extend %heading-5;
}

h6,
.heading-6 {
    @extend %heading-6;
}
