.logo {
    transition: .5s linear opacity;

    .header & {
        position: relative;
        z-index: 11;
    }

    &:hover {
        opacity: .6;
    }
    &:active {
        opacity: .8;
    }

    &_image {
        display: block;
        width: 124px;
        @include desktop {
            width: 174px;
        }
    }
}
