.logo {
    position: relative;
    z-index: 12;
    transition: .5s linear opacity;

    &:hover {
        opacity: .6;
    }
    &:active {
        opacity: .8;
    }

    &_image {
        display: block;
        width: 74px;
        @include desktop {
            width: 98px;
        }

        .blue-page & {
            filter: hue-rotate(180deg) brightness(2.5);
        }
    }
}
