.logo {
    position: relative;
    z-index: 12;
    transition: .5s linear opacity;

    &:hover {
        opacity: .6;
    }
    &:active {
        opacity: .8;
    }

    &_image {
        display: block;
        width: 40px;
        @include desktop {
            width: 174px;
        }
    }
}
