.masonry {
    @include tablet {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 24px;
    }

    & > div:nth-child(1) {
        grid-column: 1 / 8;
        grid-row: 1 / 4;
    }
    
    & > div:nth-child(2) {
        grid-column: 8 / 13;
        grid-row: 1 / 4;
    }

    & > div:nth-child(3) {
        grid-column: 1 / 5;
        grid-row: 4 / 8;
    }

    & > div:nth-child(4) {
        grid-column: 5 / 13;
        grid-row: 4 / 7;
    }

    & > div:nth-child(5) {
        grid-column: 1 / 5;
        grid-row: 8 / 11;
    }

    & > div:nth-child(6) {
        grid-column: 5 / 9;
        grid-row: 7 / 11;
    }

    & > div:nth-child(7) {
        grid-column: 9 / 13;
        grid-row: 7 / 11;
    }
}
