.menu-toggle {
    @include button-reset;
    width: 40px;
    height: 40px;
    z-index: 12;
    display: flex;
    border-radius: 10px;
    background-color: $cWhite;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include desktop {
        display: none;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: $cWhite;
    }

    .menu-opened & {
        @include desktop {
            display: flex;
            position: absolute;
            right: -3px;
            top: 87px;
            transform: scale(1.5);
        }
    }

    &_line {
        width: 18px;
        height: 2px;
        border-radius: 1px;
        background-color: $color;
        transition: .4s $easing opacity,
                    .4s $easing transform;

        &:nth-child(1) {
            .menu-opened & {
                transform: rotate(45deg) translate(5px, 4px);
            }
        }
        &:nth-child(2) {
            margin: 4px 0;

            .menu-opened & {
                opacity: 0;
            }
        }
        &:nth-child(3) {
            .menu-opened & {
                transform: rotate(-45deg) translate(5px, -4px);
            }
        }
    }
}
