.menu {

    .menu-opened & {
        opacity: 1;
        pointer-events: all;
        transition: .3s $easing opacity;
        @include desktop {
            pointer-events: all;
            opacity: 1;
        }
    }

    &_items {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: $indent;
        @include desktop {
            flex-direction: row;
            gap: 0;
            backdrop-filter: blur(10px);
        }
    }

    &_item {
        position: relative;
        @include desktop {
            height: 56px;
        }

        &__parent {
            cursor: pointer;
        }
    }

    &_link {
        height: 100%;
        color: $color;
        font-weight: 600;
        background-color: $cWhite;
        padding: 0 50px;
        position: relative;
        z-index: 11;
        display: none;
        @include desktop {
            background-color: rgba($cWhite, .5);
            display: flex;
            line-height: 58px;
            padding-left: 25px;
            padding-right: 25px;
        }

        &:hover {
            color: $cBright;
        }

        .menu_item:first-child & {
            @include desktop {
                border-radius: 10px 0 0 10px;
            }
        }

        .menu_item:last-child & {
            @include desktop {
                border-radius: 0 10px 10px 0;
            }
        }

        .menu_item__parent & {
            padding-right: 22px;
            @include desktop {
                padding-right: 46px;
            }

            &::after {
                content: '';
                background: url(#{$img}/menu-arrow.svg) no-repeat center / 100%;
                height: $indent;
                width: $indent;
                position: absolute;
                right: 25px;
                top: 50%;
                margin-top: calc(-1 * $indent / 2);
                transform-origin: center;
                filter: grayscale(1) brightness(0);
                transition: .1s $easing transform,
                            .1s $easing filter;
            }

            .menu-opened &::after {
                transform: rotate(180deg);
                filter: grayscale(0) brightness(1);
            }

            &:hover::after {
                filter: grayscale(0) brightness(1);
            }


            .page-green &::after {
                background-image: url(#{$img}/menu-arrow-green.svg);
            }

            .page-blue &::after {
                background-image: url(#{$img}/menu-arrow-blue.svg);
            }

            .page-orange &::after {
                background-image: url(#{$img}/menu-arrow-orange.svg);
            }
        }

        .page-green & {
            background-color: rgba($cPageGreenLight, .5);
        }

        .page-blue & {
            background-color: rgba($cPageBlueLight, .5);
        }

        .page-orange & {
            background-color: rgba($cPageOrangeLight, .5);
        }
    }

    &_dropdown {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        box-sizing: border-box;
        padding-top: 82px;
        background: $bg_color;
        opacity: 0;
        pointer-events: none;
        transition: .3s $easing opacity;
        @include desktop {
            background: rgba($bg_color, 0.97);
            padding-top: 116px;
        }

        .menu-opened & {
            opacity: 1;
            pointer-events: all;
        }
    }

    &_dropdown-content {
        @include layout;
    }

    &_dropdown-title,
    &_dropdown-description {
        display: none;
        @include desktop {
            display: block;
        }
    }

    &_dropdown-title {
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 130%;
        margin: 0 0 $indent;
    }

    &_dropdown-description {
        margin: 0 0 54px;
    }

    &_dropdown-footer {
        @include desktop {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
        }
    }

    &_dropdown-email {
        font-weight: 600;
        line-height: 150%;
        display: block;
        margin: 0 0 $indent;
        @include desktop {
            margin: 0;
        }
    }

    &_dropdown-copyrights {
        font-weight: 400;
        line-height: 150%;
        color: rgba($color, .3);
    }

    &_sublist {
        display: flex;
        flex-direction: column;
        gap: $indent;
        padding: 0;
        margin: 0 0 12px;
        list-style: none;
        @include desktop {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
            padding: 40px 0 60px;
            border-top: 1px solid #E4E8F0;
            gap: 26px;
            margin: 0;
        }
        @include desktop {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &_sublist-item {
        position: relative;
    }

    &_sublist-item-title {
        color: $color;
        line-height: 1;
        font-weight: 600;
        padding: $indent 32px $indent $indent;
        margin: 0 53px 0 0;
        background: $cWhite;
        border-radius: 10px;
        display: block;
        position: relative;
        @include desktop {
            padding: 0;
            margin: 0 0 10px;
            background-color: transparent;
            border-radius: 0;
            font-size: 22px;
            line-height: 1.5;
        }

        .menu-opened &::after {
            transform: rotate(180deg);
        }
    }

    &_sublist-item-arrow {
        background: $cWhite url(#{$img}/plus-dark.svg) center no-repeat;
        border-radius: 10px;
        width: 48px;
        height: 48px;
        position: absolute;
        top: 0;
        bottom: 0;
        right: -53px;
        @include desktop {
            display: none;
        }

        .opened & {
            background-image: url(#{$img}/minus-dark.svg);
        }
    }

    &_sublist-menu {
        list-style: none;
        margin: 0 0 0 $indent;
        padding: $indent 0 0;
        display: none;
        flex-direction: column;
        gap: $indent;
        @include desktop {
            padding: 0;
            gap: 0;
            display: block;
        }

        .active + &,
        .opened + & {
            display: flex;
        }
    }


    &_sublist-link {
        font-weight: 600;
        line-height: 1.5;
        color: $color;
        @include desktop {
            color: #535479;
            font-weight: 400;
        }

        &::before {
            content: '- ';
        }
    }
}
