.tabs {
    @include desktop {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 100px;
    }

    &_buttons {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 0 0 $indent;
        @include tablet {
            gap: 20px;
        }
    }

    &_button {
        @include button-reset;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.3;
        color: rgba($color, .3);
        text-align: left;
        position: relative;
        transition: .2s $easing color,
                    .2s $easing padding;
        @include desktop {
            font-size: 32px;
        }

        &::after {
            content: '';
            background: url(#{$img}/arrow-right.svg) no-repeat left center;
            position: absolute;
            width: 10px;
            height: 18px;
            left: 13px;
            top: 6px;
            opacity: 0;
            border-radius: 50%;
            transition: .2s $easing opacity;
            @include tablet {
                left: 17px;
                top: 5px;
            }
            @include desktop {
                top: 10px;
            }
        }

        &:hover,
        &.active {
            color: $cBright;
        }

        &.active {
            padding-left: 34px;
            @include tablet {
                padding-left: 42px;
            }
        }

        &.active::after {
            opacity: 1;
        }
    }

    &_content {
        display: none;
        @include desktop {
            flex-grow: 1;
            width: 60%;
            max-width: 690px;
        }

        &.active {
            display: block;
        }
    }
}
