.video-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 101;
    pointer-events: none;
    opacity: 0;
    transform: scale(.5);
    transition: .3s $easingSmooth transform,
                .3s $easingSmooth opacity;
    @include tablet {
        padding: 30px 100px;
    }

    &.opened {
        opacity: 1;
        transform: scale(1);
        pointer-events: all;
    }

    &_close {
        @include button-reset;
        border: none;
        z-index: 3;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        transition: .2s $easing opacity;
        
        &::before {
            content: '';
            background: url(#{$img}/close.svg) no-repeat center center / 100%;
            height: $indent;
            width: $indent;
            position: absolute;
            top: $indent;
            right: $indent;
            filter: brightness(20);
            @include tablet {
                height: 22px;
                width: 22px;
                top: 30px;
                right: 30px;
            }
        }

        &:hover {
            opacity: .6;
        }
        &:active {
            opacity: 1;
        }
    }

    &_holder {
        padding-bottom: 50%;
        position: relative;
        width: 80%;
        z-index: 4;

        & > * {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}
