@mixin button {
    display: inline-block;
    background: $cBright;
    box-sizing: border-box;
    border: 1px solid $cBright;
    border-radius: 10px;
    cursor: pointer;
    color: $bg_color;
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    line-height: 40px;
    padding: 0 $indent;
    white-space: nowrap;
    text-align: center;
    transition: .2s $easing color,
                .2s $easing background-color,
                .2s $easing transform;
    @include desktop {
        font-size: 18px;
        height: 56px;
        line-height: 56px;
        padding-left: 40px;
        padding-right: 40px;
    }

    &:hover {
        background-color: transparent;
        color: $cBright;
    }

    &:active {
        background-color: $cNavyLight;
    }

    
    &:disabled {
        opacity: .6;
    }
}

@mixin button-reset {
    border: none;
    padding: 0;
    background: transparent;
    height: auto;
    line-height: 1.2;
    min-width: 0;
    width: auto;
    border-radius: 0;

    &:hover {
        background-color: transparent;
    }
    &:active {
        background-color: transparent;
    }
}

.button,
button,
input[type="button"],
input[type="submit"] {
    @include button;
}

.button {
    &__light {
        background: transparent;
        border-radius: 10px;
        color: $cBright;

        &:hover {
            background-color: $cBright;
            color: $bg_color;
        }

        &:active {
            background-color: $cNavy;
            border-color: $cNavy;
        }
    }
}
