$img: "src/img";

:root {
    --cBright: #1F35F0;
}

$bg_color: #fff;

$color: #0E0B3A;
$cBright: var(--cBright);
$cPurple: #7314F2;
$cPurpleLght: #D3C8F6;
$cLight: #F5F0FE;
$cWhite: #F7F9FC;
    
$cOrange: #FF8830;
$cOrangeLight: #FADBC4;
$cBlue: #1ACBF5;
$cBlueLight: #D5F6FE;
$cGreen: #65C47B;
$cGreenLight: #D7E4D4;
$cNavy: #4B7EFF;
$cNavyLight: #DFE8FF;
$cYellow: #FFBF52;
$cYellowLight: #FCEFD9;
$cGrey: #707989;
$cGreyLight: #C1C7D2;

$cPageOrange: #EE8F00;
$cPageOrangeLight: #FDF5E8;
$cPageBlue: #157DAA;
$cPageBlueLight: #EAFAFE;
$cPageGreen: #166C39;
$cPageGreenLight: #EFF4EE;

$gradient: linear-gradient(114deg, #7314F2 0%, #1F35F0 100%);

$font-family: 'VisbyCF', Helvetica, sans-serif;

$font-size: 16px;

$max-width: 1200px;
$indent: 16px;

// easings
$easingSmooth: cubic-bezier(0.38, 0.005, 0.215, 1);
$easeOutCirc: cubic-bezier(.07, .82, .17, 1);
$easeInOutCirc: cubic-bezier(.78, .13, .15, .86);
$easeInCirc: cubic-bezier(.6, .04, .98, .34);
$easing: $easingSmooth;
