.about-widget {
    color: $bg_color;
    border-radius: 15px;
    background: #020A44 url(#{$img}/banner-bg.svg) no-repeat center / 100% 100%;
    padding: 32px $indent 325px;
    font-size: 18px;
    position: relative;
    @include tablet {
        padding: 32px 325px 32px 32px;
    }
    @include desktop {
        padding: 60px 385px 60px 100px;
        font-size: 22px;
    }


    &_label {
        border-radius: 100px;
        background: rgba(#fff, .10);
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        padding: 11px $indent;
        margin-bottom: $indent;
        display: inline-block;
        @include tablet {
            padding: 11px 24px;
            margin-bottom: 30px;
        }
    }

    &_title {
        display: block;
        font-size: 32px;
        font-weight: 600;
        line-height: 130%;
        margin: $indent 0;
        @include desktop {
            font-size: 48px;
            margin: 30px 0;
        }
    }

    &_play {
        font-size: 16px;
        width: 151px;
        padding: 0 0 0 35px;
        text-align: right;
        position: relative;
        @include tablet {
            position: absolute;
            right: 130px;
            top: 100px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 45px;
            height: 66px;
            background: url(#{$img}/curved-arrow.svg) no-repeat center;
            right: -42px;
            top: 10px;
        }
    }

    &_play-button {
        @include button-reset;
        height: 71px;
        width: 71px;
        position: absolute;
        left: 60%;
        top: 150%;
        z-index: 1;

        img {
            width: 100%;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            border-radius: 50%;
            background-color: rgba($bg_color, .3);
            z-index: -1;
            transform-origin: center;
            animation: pulsation 3.3s infinite linear;
        }

        &::before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            animation: pulsation 3.3s infinite linear;
        }

        &::after {
            top: -5px;
            left: -5px;
            right: -5px;
            bottom: -5px;
            animation: pulsation 3.3s infinite .5s linear;
        }
    }

    &_image {
        position: absolute;
        right: 0;
        bottom: 0;
        pointer-events: none;
    }
}

@keyframes pulsation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
