.advantage {
    border-radius: 15px;
    padding: $indent;
    background-color: $cPurpleLght;
    position: relative;
    overflow: hidden;
    height: 420px;
    box-sizing: border-box;
    @include desktop {
        padding: 60px;
        min-height: 293px;
        height: auto;
    }

    &:nth-child(2n) {
        background-color: $cBlueLight;
    }
    &:nth-child(3n) {
        background-color: $cYellowLight;
    }
    &:nth-child(4n) {
        background-color: $cNavyLight;
    }
    &:nth-child(5n) {
        background-color: $cGreyLight;
    }
    &:nth-child(6n) {
        background-color: $cGreenLight;
    }
    &:nth-child(7n) {
        background-color: $cOrangeLight;
    }

    &_image {
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translate(50%);
        @include desktop {
            transform: none;
            right: 0;
        }

        &__right {
            transform: none;
            right: 0;
        }

        .advantage__with-indent & {
            bottom: 90px;
            right: 0;
            transform: none;
            @include desktop {
                padding: 0;
                bottom: 0;
            }
        }
    }

    &_title {
        display: block;
        font-size: 24px;
        font-weight: 600;
        line-height: 110%;
        margin: 0 0 $indent;
        @include tablet {
            width: 55%;
            font-size: 32px;
            margin-bottom: 20px;
        }

        .advantage:nth-child(6) &,
        .advantage:nth-child(7) & {
            @include tablet {
                width: 100%;
            }
        }   
    }

    &_number {
        font-size: 170px;
        font-weight: 600;
        position: absolute;
        left: 0;
        bottom: -110px;
        background-clip: text;
        color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: rgba($bg_color, $alpha: 1);
    }

    p {
        margin: 0;
        position: relative;
        z-index: 2;
        @include tablet {
            width: 55%;
        }

        .bright {
            font-size: 22px;
            font-weight: 600;
        }
    }
}
