.alphabet {
    
    &_letters {
        display: none;
        @include tablet {
            display: flex;
            flex-wrap: wrap;
            gap: 5px;
            margin: 0 0 60px;
        }
    }

    &_letter {
        @include button-reset;
        font-size: 22px;
        font-weight: 600;
        line-height: 1.5;
        border-radius: 10px;
        padding: 10px $indent 7px;
        color: rgba($color, .3);

        &:hover,
        &.active,
        &.hovered {
            background-color: #E4E8F0;
            color: $color;
        }
    }

    &_grid {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
    
        @include tablet {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: auto;
        }
    
        @include desktop {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &_item {
        position: relative;
        padding: 0 0 4px 34px;
        margin: 0 0 8px;
        user-select: none;
        border-bottom: 1px solid #E4E8F0;
        @include tablet {
            margin: 0;
            padding: 15px 13px;
            min-height: 156px;
            box-sizing: border-box;
            border-radius: 10px;
            overflow: hidden;
        }

        &::before {
            @include tablet {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(180deg, #24288A 55%, #6D3F99);
                z-index: 0;
                opacity: 0;
                transition: .2s $easing opacity;
            }
        }
        
        &:hover::before,
        &.active::before,
        &.hovered::before {
            opacity: 1;
        }

        &:hover::after,
        &.active::after,
        &.hovered::after {
            opacity: 0;
        }

        &::after {
            @include tablet {
                content: '';
                position: absolute;
                right: 0;
                top: 12px;
                bottom: 12px;
                border-left: 1px solid #E4E8F0;
                transition: .2s $easing opacity;
            }
        }

        &:nth-child(3n) {
            &::after {
                @include tablet {
                    content: none;
                }
                @include desktop {
                    content: '';
                }
            }
        }
        
        &:nth-child(4n) {
            &::after {
                @include desktop {
                    content: none;
                }
            }
        }
    }
    
    &_item-border {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        transition: .2s $easing opacity;

        .alphabet_item:hover &,
        .alphabet_item.active &,
        .alphabet_item.hovered & {
            opacity: 0;
        }

        &::before {
            @include tablet {
                content: '';
                position: absolute;
                top: 0;
                left: 12px;
                right: 12px;
                border-top: 1px solid #E4E8F0;
            }
        }

        &::after {
            @include tablet {
                content: '';
                position: absolute;
                bottom: 0;
                left: 12px;
                right: 12px;
                border-top: 1px solid #E4E8F0;
            }
        }
    }

    &_item-title {
        font-size: 18px;
        line-height: 1.8;
        display: block;
        transition: .2s $easing color;
        @include tablet {
            font-size: 22px;
            font-weight: 600;
            max-width: 60%;
            position: relative;
            z-index: 1;
            pointer-events: none;
        }

        &::first-letter {
            @include tablet {
                color: $cBright;
                transition: .2s $easing color;
            }
        }

        .alphabet_item:hover &,
        .alphabet_item.active &,
        .alphabet_item.hovered & {
            @include tablet {
                color: $bg_color;
            }
        }

        .alphabet_item:hover &::first-letter,
        .alphabet_item.active &::first-letter,
        .alphabet_item.hovered &::first-letter {
            @include tablet {
                color: #EB583C;
            }
        }
    }

    &_item-letter {
        position: absolute;
        font-size: 18px;
        font-weight: 600;
        color: $cBright;
        left: 0;
        top: 3px;
        text-align: right;
        @include tablet {
            pointer-events: none;
            font-size: 136px;
            left: auto;
            top: auto;
            right: 0;
            bottom: -31px;
            line-height: 1;
            color: rgba($bg_color, 1);
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgba($color, $alpha: .7);
            transition: .2s $easing filter,
                        .2s $easing opacity,
                        .2s $easing color,
                        .4s $easing transform;
        }

        &__shadow {
            display: none;
            opacity: 0;
        }

        .alphabet_item:hover &,
        .alphabet_item.active &,
        .alphabet_item.hovered &  {
            @include tablet {
                filter: brightness(20);
            }
        }

        .alphabet_item:hover &__shadow,
        .alphabet_item.active &__shadow {
            @include tablet {
                opacity: 1;
                transform: translate(10px, 5px);
            }
        }
    }
}
