.case {
    background-color: $bg_color;
    border-radius: 15px;
    padding: 32px $indent 108px;
    @include desktop {
        padding: 60px;
        display: flex;
        flex-wrap: wrap;
    }

    &_info {
        margin-bottom: 26px;
        @include desktop {
            width: 306px;
        }
    }

    &_content {
        @include desktop {
            min-height: 340px;
            width: calc(100% - 306px);
        }
    }

    &_stats {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $indent;
        @include desktop {
            flex-direction: row;
            gap: 24px;
            padding: 0 100px 0 0;
        }
    }

    &_stats-item {
        border-radius: 15px;
        background-color: $cWhite;
        padding: $indent 32px;
        box-sizing: border-box;
        @include desktop {
            padding: 30px 24px 11px;
            flex: 0 1 282px;
        }

        .page-blue & {
            background-color: $cPageBlueLight;
        }

        .page-orange & {
            background-color: $cPageOrangeLight;
        }
    }

    &_stats-number {
        color: $cBright;
        font-size: 40px;
        margin-bottom: 8px;
        display: block;
        font-weight: 600;
        line-height: .9;
        @include desktop {
            font-size: 64px;
        }
    }

    &_stats-title {
        max-width: 75%;
    }

    &_logo {
        margin: 0 0 4px;
        height: 80px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include tablet {
            max-width: 204px;
        }
        @include desktop {
            margin-bottom: 10px;
        }

        img {
            height: 100%;
        }
    }

    &_name {
        display: block;
        font-size: 18px;
        font-weight: 600;
        @include desktop {
            font-size: 22px;
        }
    }

    &_author {
        display: block;
        font-size: 14px;
    }

    &_position {
        color: #535479;
    }

    &_subtitle {
        color: $cBright;
        font-size: 16px;
        font-weight: 600;
        display: block;
        margin: 0 0 5px;
    }

    &_text {
        font-size: 18px;
        @include tablet {
            font-size: 22px;
        }
    }

    &_quote {
        position: relative;
        filter: drop-shadow(0px 3px 7px #EEF0F5);
        
        &::before {
            content: '';
            height: 12px;
            width: 12px;
            position: absolute;
            top: 30px;
            left: -6px;
            border-left: 1px solid #E4E8F0;
            border-bottom: 1px solid #E4E8F0;
            transform: rotate(45deg);
            border-radius: 3px;
            background-color: $bg_color;
        }
    }
}
