.cases {
    border-radius: 30px;
    background: linear-gradient(0deg, rgba(31, 53, 240, 0.30) 0%, transparent 100%), #F7F9FC;
    text-align: center;
    padding: 32px $indent;
    position: relative;
    @include desktop {
        padding: 60px;
        overflow: hidden;
    }

    .page-blue & {
        background: linear-gradient(0deg, rgba(21, 125, 170, 0.30) 0%, rgba(21, 125, 170, 0.00) 100%),
            linear-gradient(0deg, #EAFAFE 0%, #EAFAFE 100%),
            linear-gradient(234deg, #157DAA -167.08%, rgba(21, 125, 170, 0.00) 100%);;
    }

    .page-orange & {
        background: linear-gradient(0deg, rgba(238, 143, 0, 0.30) 0%, rgba(238, 143, 0, 0.00) 100%),
            linear-gradient(0deg, #FDF5E8 0%, #FDF5E8 100%),
            linear-gradient(234deg, #EE8F00 -167.08%, rgba(238, 143, 0, 0.00) 100%);
    }

    &::before {
        @include desktop {
            content: '';
            height: 826px;
            width: 826px;
            border-radius: 50%;
            opacity: .1;
            background: radial-gradient(29.48% 29.48% at 67.54% 22.8%, rgba(31, 53, 240, .2) 0%, rgba(31, 53, 240, .2) 100%), linear-gradient(195deg, #12207C 10.3%, #03071E 95.04%);
            position: absolute;
            left: -25%;
            bottom: -25%;
        }
    }

    .page-blue &::before {
        background: radial-gradient(29.48% 29.48% at 67.54% 22.8%, rgba(21, 125, 170, 0.20) 0%, rgba(21, 125, 170, 0.20) 100%),
                    linear-gradient(195deg, #12207C 10.3%, #03071E 95.04%);
    }

    .page-orange &::before {
        background: radial-gradient(29.48% 29.48% at 67.54% 22.8%, rgba(238, 143, 0, 0.20) 0%, rgba(238, 143, 0, 0.20) 100%),
                    linear-gradient(195deg, #12207C 10.3%, #03071E 95.04%);
    }

    &::after {
        @include desktop {
            content: '';
            width: 241px;
            height: 235px;
            background: url(#{$img}/target.svg) no-repeat center;
            position: absolute;
            top: 141px;
            right: 50%;
            margin-right: -706px;
        }
    }

    &_label {
        border-radius: 100px;
        background: $bg_color;
        color: $cBright;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        padding: 11px $indent;

        @include desktop {
            padding: 11px 24px;
        }
    }

    &_title {
        display: block;
        font-size: 32px;
        font-weight: 600;
        line-height: 130%;
        margin: $indent 0;

        @include desktop {
            font-size: 48px;
            margin: 30px 0;
        }
    }

    &_items {
        text-align: initial;
        position: relative;
        z-index: 2;
    }

    &_counter {
        position: absolute;
        left: 50%;
        bottom: 54px;
        transform: translate(-50%);
        z-index: 3;
        @include desktop {
            display: none;
        }
    }

    .tns-outer {
        position: relative;
    }

    .tns-controls {
        position: absolute;
        bottom: 32px;
        left: 32px;
        right: 32px;
        z-index: 3;
        @include desktop {
            left: auto;
            right: 102px;
            bottom: 60px;
            flex-direction: column;
            gap: 10px;
        }
    }
}
