.case {
    background-color: $bg_color;
    border-radius: 15px;
    padding: 32px $indent;
    @include tablet {
        padding: 60px;
        display: flex;
        flex-wrap: wrap;
    }

    &_info {
        margin-bottom: 26px;
        @include tablet {
            width: 306px;
        }
    }

    &_content {
        @include tablet {
            width: calc(100% - 306px);
        }
    }

    &_stats {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: $indent;
        @include tablet {
            flex-direction: row;
            gap: 24px;
            padding: 0 100px 0 0;
        }
    }

    &_stats-item {
        border-radius: 15px;
        background-color: $cWhite;
        padding: $indent 32px;
        box-sizing: border-box;
        @include tablet {
            padding: 30px 24px;
            flex: 0 1 282px;
        }

        .page-blue & {
            background-color: $cPageBlueLight;
        }

        .page-orange & {
            background-color: $cPageOrangeLight;
        }
    }

    &_stats-number {
        color: $cBright;
        font-size: 40px;
        margin-bottom: 8px;
        display: block;
        font-weight: 600;
        @include tablet {
            font-size: 64px;
        }
    }

    &_stats-title {
        max-width: 75%;
    }

    &_logo {
        margin: 0 0 4px;
        @include tablet {
            margin-bottom: 10px;
        }
    }

    &_name {
        display: block;
        font-size: 18px;
        font-weight: 600;
        @include tablet {
            font-size: 22px;
        }
    }

    &_author {
        display: block;
        font-size: 14px;
    }

    &_position {
        color: #535479;
    }
}
