.intro {
    &_content {
        max-width: 588px;
        flex-shrink: 0;
        @include tablet {
            margin: auto;
            text-align: center;
        }
        @include desktop {
            margin: 0;
            text-align: left;
        }
    }

    &_top {
        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: row-reverse;
            gap: 50px;
        }
    }

    &_image {
        display: block;
        margin: 0 auto 32px;
        @include desktop {
            margin: 0;
            max-width: calc(100% - 588px);
        }
    }

    &_title {
        margin: 0 0 $indent;
        @include desktop {
            margin-bottom: 30px;
            margin-top: 70px;
        }

        &__big {
            font-size: 48px;
            line-height: .9;
            @include desktop {
                font-size: 73px;
            }

            img {
                width: 40px;
                vertical-align: bottom;
                @include desktop {
                    width: auto;
                    vertical-align: -7px;
                }
            }
        }
    }

    &_text {
        font-size: 18px;
        @include desktop {
            font-size: 22px;
            margin-bottom: 30px;
        }

        a {
            display: block;
            font-weight: 600;
        }
    }

    &_button {
        margin: 0 10px 10px 0;
        @include desktop {
            margin-right: 15px;
        }

        &__mobile {
            @include desktop {
                display: none;
            }
        }
    }

    &_bottom {
        padding: 64px 0 0;
        @include desktop {
            padding-top: 100px;
        }
    }

    &_bottom-content {
        @include desktop {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 25px;
        }

        &__reversed {
            @include desktop {
                flex-direction: row-reverse;
            }
        }

        &__centered {
            display: block;
            text-align: center;

            h2 {
                font-size: 32px;
                margin: 0 0 $indent;
                @include desktop {
                    margin-bottom: 30px;
                    font-size: 48px;
                }
            }

            p {
                font-size: 18px;
                margin: 0 auto 32px;
                max-width: 792px;
                @include desktop {
                    margin-bottom: 60px;
                    font-size: 22px;
                }
            }
        }
    }

    &_bottom-text {
        max-width: 690px;
        font-size: 18px;
        @include desktop {
            font-size: 22px;
        }

        .intro_bottom-content__reversed & {
            @include desktop {
                font-size: 32px;
                max-width: 588px;
            }
        }
    }

    &_bottom-title {
        display: none;
        @include desktop {
            background: linear-gradient(180deg, rgba($color, .3) 0%, transparent 80%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            display: block;
            font-size: 200px;
            font-weight: 600;
            line-height: .9;
            text-align: center;
            margin: -100px 0 -104px;
            opacity: .45;
            pointer-events: none;
            user-select: none;
        }

        &__small {
            font-size: 125px;
            margin-bottom: 25px;
        }
    }

    &_bottom-subtitle {
        margin: 0 0 $indent;
        font-size: 32px;
        @include desktop {
            margin-bottom: 30px;
            margin-top: 30px;
        }

        span {
            color: $cBright;
        }

        .intro_bottom-content__reversed & {
            @include desktop {
                font-size: 48px;
            }
        }
    }

    &_bottom-image-wrapper {
        position: relative;
        margin-bottom: 32px;
        flex-shrink: 0;
        @include desktop {
            margin-bottom: 0;
        }

        &__with-bg::before {
            content: '';
            position: absolute;
            top: 20px;
            bottom: 20px;
            right: 50%;
            width: 5000px;
            background: #EFF4EE url(#{$img}/bg-grid) repeat-x top 30px right 78px;
            z-index: -1;
        }

        &__indent-left {
            @include desktop {
                margin-left: -120px;
            }
        }
    }

    &_bottom-image {
        width: 100%;
        margin: auto;
        display: block;
        @include tablet {
            width: auto;
        }
    }

    &_locations {
        font-weight: 600;
        display: block;
        margin: 0 0 $indent;
        line-height: 1.5;
        position: relative;
        @include tablet {
            margin-bottom: 30px;
        }

        & + h1 {
            margin-top: 0;
        }
    }
}
