.person {
    position: relative;
     @include tablet {
        width: 282px;
    }

    &_image {
        margin-bottom: $indent;
        border-radius: 15px;
        width: 100%;
        width: 253px;
        height: 349px;
        object-fit: cover;
        display: block;
        @include tablet {
            margin: 0;
            width: 282px;
            height: 390px;
        }
    }

    &_content {
        @include tablet {
            background-color: rgba(#1F35F0, .7);
            border-radius: 15px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            color: $bg_color;
            padding: $indent;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            opacity: 0;
            transition: .2s $easingSmooth opacity;
        }

        .person:hover & {
            @include tablet {
                opacity: 1;
            }
        }
    }

    &_title {
        font-size: 20px;
        font-weight: 600;
        display: block;
    }
    &_position {
        font-size: 14px;
    }
    
    &_text {
        display: block;
        margin: 8px 0 0;
        @include tablet {
            margin-top: 20px;
        }
    }
}
