.prospects {
    &_header {
        margin: 0 auto 42px;
        text-align: center;
        max-width: 792px;
        @include tablet {
            margin-bottom: 50px;
        }
    }

    &_subtitle {
        font-size: 18px;
        @include tablet {
            font-size: 22px;
        }

        span {
            color: $cBright;
        }

        img {
            vertical-align: bottom;
        }
    }

    &_items {
        @include tablet {
            display: flex;
            flex-direction: column;
            gap: 150px;
            padding: 180px 50% 0 0;
        }
    }
}
