.review-wrapper {
    position: relative;
    min-height: 250px;
    filter: drop-shadow(0px 2px 2px #EEF0F5);
    @include desktop {
        min-height: 190px;
    }
}

.review {
    display: block;
    color: $color;
    background-color: $bg_color;
    padding: $indent;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 40px 10px 10px;
    opacity: 0;
    pointer-events: none;
    transition: .6s $easingSmooth opacity;
    @include tablet {
        background: $bg_color url(#{$img}/quotes.svg) no-repeat right top -5px / 97px 82px;
    }
    @include desktop {
        display: flex;
        align-items: stretch;
        gap: 20px;
        padding: 15px 54px 0 0;
        border-radius: 140px 10px 10px;
    }

    &:first-child {
        position: relative;
    }

    &:hover {
        color: $color;
    }

    &.active {
        opacity: 1;
        pointer-events: all;
    }

    .review-wrapper:nth-child(even) & {
        border-radius: 0 40px 0 0;
        @include desktop {
            flex-direction: row-reverse;
            padding: 15px 0 0 54px;
            border-radius: 10px 140px 10px 10px;
            background-position: left top -5px;
        }
    }

    &_header {
        margin: 0 0 26px 66px;
        @include desktop {
            margin: 0 0 6px;
        }

        .review-wrapper:nth-child(even) & {
            margin-left: 0;
            margin-right: 70px;
        }
    }

    &_image {
        width: 74px;
        position: absolute;
        left: 0;
        top: 0;
        flex-shrink: 0;
        border-radius: 90px 90px 90px 0;
        @include desktop {
            position: static;
            width: 190px;
            margin-top: -15px;
        }

        .review-wrapper:nth-child(even) & {
            border-radius: 90px 90px 0 90px;
            left: auto;
            right: 0;
        }
    }

    &_title {
        font-size: 18px;
        font-weight: 600;
        line-height: 150%;
        display: block;
        @include tablet {
            font-size: 22px;
        }

        .review:hover & {
            color: $cBright;
        }
    }

    &_content {
        margin-bottom: 20px;
    }

    &_author {
        font-size: 14px;
        font-weight: 600;
        line-height: 150%;
    }

    &_position {
        color: #535479;
        font-weight: 400;
    }

    p {
        margin: 0;
    }
}
