.roadmap {
    @include tablet {
        position: relative;
        padding: 0 0 93px;
    }

    &_title {
        font-size: 32px;
        margin-bottom: 32px;
        @include tablet {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
            width: 200px;
            font-size: 48px;
        }
    }

    &_content {
        @include layout;
        position: relative;
        @include tablet {
            display: flex;
            justify-content: center;
            background: url(#{$img}/roadmap-ball.png) no-repeat right 30px bottom,
                        url(#{$img}/roadmap-grid.svg) no-repeat right 30px bottom;
        }
    }

    &_timeline-wrapper {
        display: none;
        @include desktop {
            display: block;
            position: relative;
            height: 600px;
            width: 100%;
            overflow: hidden;
            mask: linear-gradient(to left, transparent 0%, black 7%, black 93%, transparent 100%),
                    linear-gradient(to bottom, transparent 0%, transparent 1%, black 30%, black 40%, transparent 56%, transparent 100%);
            
        }
    }

    &_timeline-holder {
        position: absolute;
        left: 136px;
        bottom: 0;
        transform-origin: left bottom;
        transform: rotate(-25deg);
        transition: .3s linear transform;
    }

    &_timeline {
        @include desktop {
            max-width: none;
            margin-left: -250px;
        }
    }

    &_timeline-dates {
        display: flex;
        gap: 448px;
        bottom: 42px;
        position: absolute;
        left: 533px;
        top: 20%;
    }

    &_timeline-date {
        font-size: 22px;
        font-weight: 600;
        line-height: 1.1;
        position: relative;
        transform: rotate(25deg);

        &::after {
            content: '';
            background-color: #1ACBF5;
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin: 5px auto 0;
            transition: .2s $easingSmooth background;
        }

        &.active::after {
            background-color: #FFBF52;
        }
    }

    .tns-outer {
        @include desktop {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
    }

    &_card {
        border-radius: 15px;
        padding: $indent;
        background: linear-gradient(0deg, rgba(78, 70, 220, .1) 0%, rgba(78, 70, 220, .1) 100%), rgba($cWhite, .7);
        box-sizing: border-box;
        min-height: 376px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        backdrop-filter: blur(12px);
        @include desktop {
            max-width: 384px;
            box-sizing: border-box;
            padding: 50px;
            min-height: 480px;
            margin: auto;
        }
    }

    &_card-title {
        display: block;
        font-size: 32px;
        font-weight: 600;
        margin: 0 0 8px;
        @include tablet {
            font-size: 48px;
            margin-bottom: 10px;
        }
    }

    &_card-text {
        display: block;
    }

    &_card-controls {
        width: 130px;

        .tns-controls {
            gap: 10px;
        }
    }

    &_card-counter {
        position: absolute;
        right: $indent;
        bottom: 7px;
        @include desktop {
            right: 50px;
            bottom: 50px;
        }
    }
}
