.services-list {
    h2 {
        text-align: center;
        margin: 0 0 32px;
        @include tablet {
            margin-bottom: 60px;
        }

        img {
            vertical-align: bottom;
            width: 40px;
            @include desktop {
                width: 50px;
            }
        }
    }
}
