.service-card {
    color: $color;
    padding: 32px $indent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    min-height: 245px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: relative;
    @include tablet {
        min-height: 340px;
        padding: 60px;
    }

    &:hover {
        color: $color;
    }

    &::after {
        content: '';
        width: 36px;
        height: 36px;
        right: 30px;
        bottom: 34px;
        position: absolute;
        background-repeat: no-repeat;
        opacity: 1;
        transition: .2s $easingSmooth opacity;
        @include desktop {
            opacity: 0;
            bottom: 54px;
        }
    }

    &__blue {
        background-color: $cNavyLight;

        &::after {
            background-image: url(#{$img}/card-arrow-blue.svg);
        }
    }

    &__blue-light {
        background-color: $cBlueLight;

        &::after {
            background-image: url(#{$img}/card-arrow-blue.svg);
        }
    }

    &__orange {
        background-color: $cYellowLight;

        &::after {
            background-image: url(#{$img}/card-arrow-orange.svg);
        }
    }

    &__green {
        background-color: $cGreenLight;

        &::after {
            background-image: url(#{$img}/card-arrow-green.svg);
        }
    }

    &:hover::after {
        opacity: 1;
    }

    &_label {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        text-transform: uppercase;
        padding: 12px $indent 11px;
        border-radius: 100px;
        background: rgba(238, 143, 0, .2);
        margin: 0 0 $indent;
        @include tablet {
            margin-bottom: 30px;
            padding: 12px 24px 11px;
        }

        .service-card__blue &,
        .service-card__blue-light & {
            background-color: rgba(21, 125, 170, .1);
        }
        .service-card_green & {
            background-color: rgba(22, 108, 57, .1);
        }

        span {
            font-size: 18px;
        }
    }

    &_title {
        display: block;
        font-size: 24px;
        font-weight: 600;
        line-height: 1.1;
        margin: 0 0 $indent;
        @include tablet {
            margin-bottom: 20px;
            font-size: 32px;
        }
    }

    &_text  {
        font-size: 15px;
    }

    &_link {
        color: $cPageOrange;
        font-weight: 600;

        .service-card__blue &,
        .service-card__blue-light & {
            color: $cPageBlue;
        }
    
        .service-card__green & {
            color: $cPageGreen;
        }
    }
}
