.talent {
    h2 {
        font-size: 32px;
        @include desktop {
            font-size: 48px;
            width: 82%;
        }

        span {
            color: $cBright;
        }

        img {
            vertical-align: sub;
            width: 40px;
            @include desktop {
                width: 50px;
            }
        }
    }
}
