.team-slider {
    position: relative;

    &_counter {
        position: absolute;
        right: $indent;
        bottom: 0;
        @include desktop {
            display: none;
        }
    }

    .tns-outer {
        margin: 0 #{-$indent};
        @include desktop {
            margin-left: calc(-50vw - 22px + $max-width / 2 - 98px);
            margin-right: calc(-50vw - 22px + $max-width / 2 - 98px);
        }
    }

    .tns-ovh {
        padding: 0 $indent;
        @include desktop {
            padding-left: calc(50vw - $max-width / 2 + 120px);
        }
    }

    .tns-controls {
        margin: $indent $indent 0;
        justify-content: flex-start;
        gap: 10px;
        
        button {
            @include desktop {
                position: absolute;
                z-index: 2;
                top: 50%;
                transform: translateY(-50%);
            }

            &:disabled {
                opacity: .8;
                pointer-events: none;
            }
        }

        button[data-controls="prev"]{
            @include desktop {
                left: -30px;
            }
        }
        button[data-controls="next"]{
            @include desktop {
                right: -30px;
            }
        }

    }
}
