.team-form {
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include desktop {
        flex-direction: row;
        gap: 100px;
    }

    &_content {
        display: flex;
        flex-direction: column;
        gap: $indent;
        @include desktop {
            justify-content: space-between;
        }
    }

    &_content-top {
        display: flex;
        flex-direction: column;
        gap: $indent;
        justify-content: space-between;
        align-items: flex-start;
        @include desktop {
            gap: 30px;
        }
    }

    &_title {
        display: block;
        font-size: 64px;
        font-weight: 600;
        margin: 0;
        line-height: .9;
        @include desktop {
            font-size: 100px;
        }
    }

    &_subtitle {
        display: block;
        font-size: 18px;
        margin: 0;
        @include desktop {
            font-size: 22px;
        }
    }

    &_form {
        border-radius: 15px;
        background: $cWhite;
        padding: $indent;
        position: relative;
        @include desktop {
            padding: 30px;
        }

        .page-green & {
            background-color: $cPageGreenLight;
        }

        .page-blue & {
            background-color: $cPageBlueLight;
        }

        &::before {
            content: '';
            pointer-events: none;
            position: absolute;
            width: 90px;
            height: 89px;
            right: 0;
            top: -26px;
            background: url(#{$img}/request-form.png) no-repeat center / 100%;
            @include tablet {
                width: 118px;
                height: 117px;
                right: 70px;
                top: -15px;
            }
        }

        &__alternate {
            &::before {
                width: 83px;
                height: 121px;
                background-image: url(#{$img}/request-form-2.png);
                right: 20px;
                top: -46px;
                @include tablet {
                    width: 110px;
                    height: 161px;
                    top: -56px;
                }
            }
        }
    }
}
